@model List<KanbanBoard.Application.Dtos.StatusDtos.GetStatusDto>


<style>
    .portlet-placeholder {
        border: 1px dotted black;
        margin: 0 1em 1em 0;
        height: 50px;
    }
</style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


<div class="row mt-3">
    <div class="display-6">Board / @ViewData["boardTitle"]</div>
</div>
<hr />

<div class="row d-flex">
    <span class="text-dark mx-2">
        <span class="text-primary m-4">Task <i class="fa-solid fa-sm fa-list-check text-primary mx-1"></i></span>
        <span class="text-danger m-4">Bug <i class="fa-solid fa-sm fa-bug text-danger mx-1"></i></span>
        <span class="text-success m-4">Story <i class="fa-solid fa-sm fa-bookmark text-success mx-1"></i></span>

        <span class="text-danger m-4">Highest - High <i class="fa-solid fa-sm fa-arrow-up text-danger"></i></span>
        <span class="text-success m-4">Lowest - Low <i class="fa-solid fa-sm fa-arrow-up text-success"></i></span>
        <span class="text-warning m-4">Medium <i class="fa-solid fa-sm fa-arrow-up text-warning"></i></span>

    </span>
</div>
<hr />




<div class="row d-flex mt-5 text-center">
    @foreach (var status in Model)
    {
        <div class="col d-inline" style="height: auto;">

            <!--Status detail offcanvas starts-->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvas-@(status.Id)" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <div class="text-end">
                        <form method="post" asp-action="Delete" asp-controller="Status">
                            <div class="form-group">
                                <input type="hidden" name="id" class="form-control form-control-sm" value="@status.Id">
                                <button type="submit" class="btn mt-3"><i class="fa-solid fa-trash text-danger"></i></button>
                            </div>
                        </form>
                    </div>
                    <hr />
                    <div class="mt-5">
                        <form method="post" asp-action="Update" asp-controller="Status">
                            <div class="form-group">
                                <input type="hidden" name="id" class="form-control form-control-sm" value="@status.Id">
                                <input type="text" name="name" class="form-control form-control-sm" value="@status.Name">
                            </div>
                            <div class="form-group text-end mt-3">
                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-floppy-disk"></i> Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="text-center text-white card my-2 bg-secondary">
                <button class="btn btn-secondary text-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-@(status.Id)">
                    <span>@status.Name.Replace("i", "I").ToUpper()</span>
                </button>

            </div>
            <!--Status detail offcanvas ends-->


            <!--Create issue starts-->
            <div class="col mt-2">
                <button class="btn btn-primary btn-block btn-sm my-2" data-bs-toggle="offcanvas" data-bs-target="#createIssue-@(status.Id)"><i class="fa-solid fa-plus"></i></button>
            </div>

            <div class="offcanvas offcanvas-lg offcanvas-end" data-bs-scroll="true" tabindex="-1" id="createIssue-@(status.Id)" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Creating @status.Name.ToUpper() Issue</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body mt-4">
                    <form method="post" asp-action="Create" asp-controller="Issue">
                        <input type="hidden" name="statusId" value="@status.Id" />

                        <div class="form-group">
                            <label class="form-label">Summary</label>
                            <input type="text" id="txtSummary" name="summary" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Description</label>
                            <textarea id="txtDescription" class="form-control" name="description" rows="6"></textarea>
                        </div>
                            <div class="form-group">
                                <label class="form-label">Priority</label>
                                <select name="priorityType" class="form-select">
                                    <option value="0">Highest</option>
                                    <option value="1">High</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Lowest</option>
                                    <option value="4">Low</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Issue Type</label>
                                <select name="issueType" id="txtIssueType" class="form-select">
                                    <option value="0">Story</option>
                                    <option value="1">Task</option>
                                    <option value="2">Bug</option>
                                </select>
                            </div>
                        <div class="form-group mt-3 text-end">
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--Create issue ends-->

            <div class="col connectedSortable sortable card text-primary mx-2 p-2" style="background-color: #F7F7F7; font-size:medium; height:auto; min-height:100px;" id="@status.Id">
                @foreach (var issue in status.Issues)
                {
                    <a asp-action="IssueDetail" asp-controller="Issue" asp-route-id="@issue.Id" class="card mt-2 mb-3 p-0 portlet border-2" style="background-color: #EBECF0; text-decoration:none;" id="@issue.Id">
                        <div class="card-body">
                            <span class="card-title">@issue.Summary</span>
                        </div>
                        <div class="text-start p-2">
                            @if (issue.IssueType == KanbanBoard.Core.Enums.IssueType.Task)
                            {
                                <i class="fa-solid fa-sm fa-list-check text-primary"></i>
                            }
                            else if (issue.IssueType == KanbanBoard.Core.Enums.IssueType.Bug)
                            {
                                <i class="fa-solid fa-sm fa-bug text-danger"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-sm fa-bookmark text-success"></i>
                            }

                            @if (issue.Priority == KanbanBoard.Core.Enums.PriorityType.Highest || issue.Priority == KanbanBoard.Core.Enums.PriorityType.High)
                            {
                                <i class="fa-solid fa-sm fa-arrow-up text-danger"></i>
                            }
                            else if (issue.Priority == KanbanBoard.Core.Enums.PriorityType.Lowest || issue.Priority == KanbanBoard.Core.Enums.PriorityType.Low)
                            {
                                <i class="fa-solid fa-sm fa-arrow-up text-success"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-sm fa-arrow-up text-warning"></i>
                            }

                        </div>
                    </a>
                }
            </div>
        </div>
    }
    <div class="col text-start">
        <button class="btn btn-primary btn-sm mt-2" id="create-status"><i class="fa-solid fa-plus"></i></button>
    </div>

</div>

<!--Create status form starts-->
<div id="status-update-dialog" class="card" title="Create Status">
    <form method="post">
        <input type="hidden" id="boardId" value="@ViewData["boardId"]" />
        <div class="form-group">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="txtName" />
        </div>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>
<!--Create status form ends-->

@section Scripts{

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>

        $(document).ready(() => {

            // Sortable starts
             let oldOrder;

            $(".sortable").sortable({
                connectWith: ".connectedSortable",
                opacity: 0.5,
                scroll: false,
                revert: true,
                placeholder: "portlet-placeholder",
                start: function (event, ui) {
                    oldOrder = ui.item.index()
                },
                stop: function (event, ui) {

                    var issueId = ui.item.attr("id");
                    var newStatusId = ui.item.parent().attr("id");
                    var newOrder = ui.item.index();



                    let obj = {
                        issueId: issueId,
                        statusId: newStatusId,
                        oldOrder: oldOrder,
                        newOrder: newOrder
                    };

                    $.ajax({
                        url: "/Issue/UpdateIssue",
                        type: "POST",
                        dataType: "json",
                        contentType:"application/x-www-form-urlencoded; charset=utf-8",
                        data: {
                            __RequestVerificationToken: getToken(),
                            updateIssue: obj
                        },
                        success: function (res) {
                            console.log(res);
                        }

                    });

                }

            }).disableSelection();


            // Sortable ends



            // Create Status Modal
            $("#status-update-dialog").dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                buttons: [
                    {
                        text: "Save",
                        class: "btn btn-success",
                        click: createStatus
                    },
                    {
                        text: "Close",
                        class: "btn btn-warning",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });


            $("#create-status").button().on("click", function () {
                $("#status-update-dialog").dialog("open");
            });

         });



        function getToken() {
            let token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

        function createStatus() {

            let obj = {
                boardId: $("#boardId").val(),
                name: $("#txtName").val()
            }

            $.ajax({

                url: "/Status/Create",
                type: "POST",
                dataType: "json",
                data: {
                    __RequestVerificationToken: getToken(),
                    createStatus: obj
                },
                success: function (res) {
                    window.location.href = res.redirectToUrl
                }
            });


        }



    </script>
}
