@model KanbanBoard.Application.Dtos.IdentityDtos.GetProfileDto

<div class="row d-flex">
    <div class="display-6 text-start col">@ViewBag.pageName</div>
</div>
<hr />


<style>

    body {
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>


    <div class="row justify-content-center mt-5">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header text-center">@Model.FullName</div>
                <div class="card-header text-center">@Model.Title</div>
                <div class="card-body text-center">
                    @if (string.IsNullOrEmpty(Model.Picture))
                    {
                        <!--  Default Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="./pictures/DefaultProfilePicture.jpg" alt="">
                        <br />
                        <form method="post" asp-action="UploadPicture" enctype="multipart/form-data">
                            <input type="file" name="file" class="form-control" />
                            <button class="btn btn-primary mt-2" type="submit">Upload new image</button>
                        </form>
                    }
                    else
                    {
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="@Model.Picture" alt="">
                        <br />
                        <form method="post" asp-action="UpdatePicture" enctype="multipart/form-data">
                            <input type="file" name="file" class="form-control" />
                            <button class="btn btn-primary mt-2" type="submit">Update image</button>
                        </form>
                    }

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form method="post" asp-action="Update">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1">Username (how your name will appear to other users on the site)</label>
                            <input class="form-control" type="text" name="username"  value="@Model.Username">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">First name</label>
                                <input class="form-control"  type="text" name="firstName" value="@Model.FirstName">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1">Last name</label>
                                <input class="form-control" type="text" name="lastName" value="@Model.LastName">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <!--<div class="row gx-3 mb-3">-->
                            <!-- Form Group (organization name)-->
                            <!--<div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start Bootstrap">
                            </div>-->
                            <!-- Form Group (location)-->
                            <!--<div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Location</label>
                                <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
                            </div>
                        </div>-->
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1">Email address</label>
                            <input class="form-control" type="email" name="email"  value="@Model.Email">
                        </div>
                        <!-- Form Row-->
                        <!--<div class="row gx-3 mb-3">-->
                            <!-- Form Group (phone number)-->
                            <!--<div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
                            </div>-->
                            <!-- Form Group (birthday)-->
                            <!--<div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                            </div>
                        </div>-->
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>