@model KanbanBoard.Application.Dtos.IssueDtos.UpdateIssueDto


<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">

<div id="dialog" title="Issue Detail">
    <form method="post">
        <input type="hidden" asp-for="BoardId" id="boardId" value="@Model.BoardId" />
        <input type="hidden" id="txtId" value="@Model.Id" asp-for="Id" />
        <input type="hidden" id="txtStatusId" value="@Model.StatusId" asp-for="@Model.StatusId" />
        <div class="row d-flex mx-1 justify-content-between mt-3">
            <div class="col card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Summary</label>
                        <input type="text" id="txtSummary" value="@Model.Summary" asp-for="Summary" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <textarea id="txtDescription" class="form-control form-control-sm" asp-for="Description" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <div class="form-group">
                        @if (Model.Priority == 3 || Model.Priority == 4)
                        {

                            <label class="form-label"><i class="fa-solid fa-sm fa-arrow-up text-success"></i> Priority</label>
                        }
                        else if (Model.Priority == 0 || Model.Priority == 1)
                        {
                            <label class="form-label"><i class="fa-solid fa-sm fa-arrow-up text-danger"></i> Priority</label>
                        }
                        else
                        {
                            <label class="form-label"><i class="fa-solid fa-sm fa-arrow-up text-warning"></i> Priority</label>
                        }
                    <select asp-for="Priority" id="txtPriority" class="form-select form-select-sm">
                        <option value="0">Highest</option>
                        <option value="1">High</option>
                        <option value="2">Medium</option>
                        <option value="3">Lowest</option>
                        <option value="4">Low</option>
                    </select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @if (Model.IssueType == 2)
                        {

                            <label class="form-label"><i class="fa-solid fa-sm fa-bug text-danger mx-1"></i> Issue Type</label>
                        }
                        else if (Model.IssueType == 0)
                        {
                            <label class="form-label"><i class="fa-solid fa-sm fa-bookmark text-success mx-1"></i> Issue Type</label>
                        }
                        else
                        {
                            <label class="form-label"><i class="fa-solid fa-sm fa-list-check text-primary mx-1"></i> Issue Type</label>
                        }
                    <select asp-for="IssueType" id="txtIssueType" class="form-select form-select-sm">
                        <option value="0">Story</option>
                        <option value="1">Task</option>
                        <option value="2">Bug</option>
                    </select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Assigned User</label>
                        <select class="form-select form-select-sm">
                            <option value="value">John Doe</option>
                            <option value="value">Deneme</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex mx-1 justify-content-between mt-3">
            <div class="col card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Comments</label>
                        <textarea class="form-control form-control-sm" rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>

</div>




@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <script>

        $(function () {

            let boardId = $("#boardId").val();

            $("#dialog").dialog({
                height: 600,
                width: 900,
                modal: true,
                resizable: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                buttons: [
                    {
                        text: "Save",
                        class: "btn btn-success",
                        click: updateIssue
                    },
                    {
                        text: "Close",
                        class: "btn btn-warning",
                        click: function () {
                            $(this).dialog("close");
                            window.location.href = `http://localhost:5191/Status/Index/${boardId}`
                        }
                    }
                ]
            });

        });

        function updateIssue() {
            let obj = {
                id: $("#txtId").val(),
                statusId: $("#txtStatusId").val(),
                summary: $("#txtSummary").val(),
                description: $("textarea#txtDescription").val(),
                priority: $("#txtPriority option:selected").val(),
                issueType: $("#txtIssueType option:selected").val()
            }

            $.ajax({
                url: "/Issue/Update",
                type: "POST",
                dataType: "json",
                data: {
                    __RequestVerificationToken: getToken(),
                    updateIssue:obj
                },
                success: function (res) {
                    boardId = res;
                    console.log(boardId)
                    window.location.href = res.redirectToUrl
                }
            });

            $("#dialog").dialog("close");
        }


        function getToken() {
             let token = '@Html.AntiForgeryToken()';
             token = $(token).val();
             return token;
            }



    </script>
}